body {
    margin: 0;
}

@media print {
    @page {
        size: landscape;
        margin: 5mm;
    }
    .plan_btn,
    #logo-img {
        visibility: hidden;
    }
    body {
        zoom: 70%;
        -moz-transform: scale(1.1%);
        -moz-transform-origin: 0 0;
        width: 100%;
    }
    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}

.vertical-alignment {
    display: inline-flex;
}

.lesson-type-indicator {
    margin-left: 10px;
    margin-bottom: 6px !important;
}

.display-inherit {
    display: inherit;
}
.display-flex {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
}
.display-contents {
    display: contents;
}

.margin-10 {
    margin: 10px 10px 10px 10px;
}
.flex-1 {
    flex: 1;
}
.margin-auto {
    margin: auto;
}

.colordot {
    width: 32px;
    height: 32px;
    border: thin solid #ced4da;
}
.logo {
    width: 50%;
    height: 50%;
}

.logo-footer {
    width: 50%;
    height: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.logo-footer-manu {
    width:  75%;
    height: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s;
 }

.logo-footer:hover {
    filter: none;
}

.logo-footer-manu:hover {
    filter: none;
}

.logo-footer-div {
    width: 25%;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}

.bottom-navbar-elements {
    display: inline-flex !important;
    position: absolute;
    bottom: 0;
}

.alert-message {
    z-index: 1;
    top: 1px;
    position: fixed;
    margin-top: 5px;
}
.noflow {
    overflow: hidden;
}

.modt {
    font-weight: 900;
}

.pointer {
    cursor: pointer;
}
.tg td,
.tg {
    border-color: #ffffff;
    border-style: solid;
    border-width: 0.25vw;
    border-spacing: 0;
    border-radius: 0 0 0 0;
    padding: 0;

}
.tg td:not(:has(div:not(.no_padding))) {
    padding: 10px 5px;
}
.tg * {
    color: black;
    font-family: Abel, serif;
    border-collapse: collapse;
    margin: 0 auto;
    vertical-align: top;
    horiz-align: left;
    table-layout: fixed;
    font-size: 103%;
}

.tg-small-preview tr td {
    border-color: #ffffff;
    color: black;
    font-family: Abel, serif;
    border-style: solid;
    border-width: 0.15vw;
    border-spacing: 0;
    border-radius: 0 0 0 0;
    padding: 5px 3px;
    border-collapse: collapse;
    margin: 0 auto;
    vertical-align: top;
    horiz-align: left;
    table-layout: fixed;
}
.btnPanel {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    margin: 2px;
    padding: 10px;
    color: black;
    box-sizing: border-box;
}
.btnPanel * {
    margin-right: 2px;
}
.white-col {
    background-color: white;
}

.db_text > :first-child {
    border: none;
    line-height: 125%;
    font-size: 105%;
    max-height: 100%;
}

.db_text {
    padding: 0;
}

.sticky-using-fixed {
    position: fixed;
    z-index: 1;
    top: 20px;
}
.rooms {
    padding: 7px 0 0 0;
}

.heading {
    font-size: 140%;
}

.no_border * {
    border: none;
    overflow: hidden;
    margin-left: -30px;
}

.no_border_no_margin * {
    border: none;
    overflow: hidden;
}

.no_margin {
    margin: 0 0 0 0; !important;
}

.availability {
    margin-bottom: -55px;
    margin-top: -10px;
}

.white_text {
    color: white;
}

.lessons {
    margin: inherit;
    padding: 8px 10px 5px 5px; !important;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.form-control:has(> .ql-editor:focus) {
    color: #495057;
    background-color: #ffffff;
    border-color: #9bbcff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(27, 104, 255, 0.25);
}
.strikethrough {
    width: 100%;
    height: 100%;
    padding-left: 0; !important;
    padding-right: 0; !important;
    margin-left: 0; !important;
    margin-right: 0; !important;
}

.lesson-details-btn {
    margin-left: 2px;
    margin-right: 2px;
}

.lesson {
    width: 100%;
}
.author {
    width: 100%;
}

.description {
    width: 100%;
    max-width: 250px;
}

.profilename {
    margin-right: -80%;
}


.bold {
    font-weight: bold;
    margin-left: 0;
    padding-left: 0;
}
.hidden {
    display: none;
}
table tr td p {
    margin: 0 0;
    padding: 0 0;
}

.color-1 {
    background-color: #ecd3cd;
}

.color-2 {
    background-color: #f6e9e6;
}

.color-3 {
    background-color: #d09182;
}

.color-4 {
    background-color: #e5f4d4;
}

.color-5 {
    background-color: #f8e9be;
}

.color-6 {
    background-color: #e3bdb4;
}


.preview-hover:hover {
    filter: brightness(110%);
    cursor: pointer;
}


.preview-selected {
    filter: grayscale(50%) brightness(80%);
}

.preview-selected:hover {
    filter: grayscale(50%) brightness(80%);
}

.full {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
}
.full-percentage {
    position: relative;
    width: 100%;
    height: 100%;
}

.full-week {
    position: relative;
    width: 100%;
}

.piece {
    width: 10%;
    height: 10%;
    max-height: 6px;
    max-width: 10px;
}

.small_piece {
    height: 20px;
    width: 8%;
    max-height: 25px;
    max-width: 10px;
}

.macro_piece {
    height: 1%;
    width: 8%;
    max-height: 6px;
    max-width: 10px;
}

.big_piece {
    height: 15%;
    width: 8%;
    max-height: 6px;
    max-width: 10px;
}

.breakfast {
    height: 5%;
}

.name_badge * {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.right-self {
    align: right;
    float: right;
}
.right {
    align: right;
    float: right;
}
.left {
    align: left;
    float: left;
    text-align: left;
}

:fullscreen .open_fullscreen {
    display: none;
}
:-webkit-full-screen .open_fullscreen {
    display: none;
}

:fullscreen .close_fullscreen {
    display: inline;
}
:-webkit-full-screen .close_fullscreen {
    display: inline;
}

.close_fullscreen {
    display: none;
}
.close_fullscreen {
    display: none;
}

.days {
    margin-top: 100px;
}

.tb_header {
    padding: 0.5% 0;
    font-size: 115%;
    height: 10%; !important;
}

.no_padding {
    padding: 0;
}

.list-group-item {
    cursor: pointer;
}

.disabled_cursor {
    cursor: not-allowed;
}
.transition {
    transition: border-color 1s ease, background-color 1s ease, color 1s ease !important;
}
.transition * {
    transition: border-color 1s ease, background-color 1s ease, color 1s ease !important;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
.spinner {
    animation: spinner .75s linear infinite;
}
.btn-spinner {
    width: 22px !important;
    height: 22px !important;
}
.overflow-scroll {
    overflow: scroll;
}
.hidden-input {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.userMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}