body {
    margin: 0;
}

.pointer {
    cursor: pointer;
}
.tg * {
    border-color: #ffffff;
    color: black;
    border-style: solid;
    border-width: 0.56vh;
    overflow: hidden;
    padding: 10px 5px;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0 0 0 0;
    margin: 0 auto;
    text-align: left;
    table-layout: fixed;
    font-size: 105%;
}

.db_text * {
    border: none;
    margin-left: -6px;
    margin-top: -18px;
    margin-right: -60px;
}

.heading {
    font-size: 140%;
}

.modt {
    font-size: 200%;
}

.no_border * {
    border: none;
}

.availability {
    margin-bottom: -55px;
    margin-top: -10px;
}

.white_text {
    color: white;
}

.author {
    margin-left: -7px;
    margin-top: -30px;
}

.bold {
    font-weight: bold;
}

.description {
}

.color-1 {
    background-color: #ecd3cd;
}

.color-2 {
    background-color: #f6e9e6;
}

.color-3 {
    background-color: #d09182;
}

.color-4 {
    background-color: #e5f4d4;
}

.color-5 {
    background-color: #f8e9be;
}

.full {
    width: 100%;
    height: 100%;
}

.piece {
    width: 10%;
    height: 10%;
}

.small_piece {
    height: 1px;
    max-height: 6px;
    width: 10%;
}

.big_piece {
    height: 25%;
    width: 10%;
}

.breakfast {
    height: 5%;
}

.name-badge {
    margin-top: -5%;
}

.center * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profilename {
    margin-right: -80%;
}
.right * {
    align: right;
    float: right;
}
.left * {
    align: left;
    float: left;
}

.tmp {
    width: 20%;
}
.bold {
    margin-left: -5px;
}