ErrorDocument 400 https://wochenplan.nauren.de/error/400

ErrorDocument 401 https://wochenplan.nauren.de/error/401

ErrorDocument 403 https://wochenplan.nauren.de/error/403

ErrorDocument 404 https://wochenplan.nauren.de/error/404

ErrorDocument 500 https://wochenplan.nauren.de/error/500

DirectoryIndex index.php

<Files .htaccess>
order allow,deny
deny from all
</Files>

Options All -Indexes
 