ErrorDocument 400 http://localhost:81/error/400

ErrorDocument 401 http://localhost:81/error/401

ErrorDocument 403 http://localhost:81/error/403

ErrorDocument 404 http://localhost:81/error/404

ErrorDocument 500 http://localhost:81/error/500

DirectoryIndex index.php

<Files .htaccess>
order allow,deny
deny from all
</Files>

Options All -Indexes
 